html {
    font-family: Optima, sans-serif;
    font-size: 20px;
}

td {
    padding-right: 50px;
}

#simulatorTable {
    padding-left: 50px;
    width: 100%;
}

h1 {
    color: lightblue;
    text-align: center;
    font-family: Optima, sans-serif;
    text-shadow: 2px 2px 2px grey;
}

body {
    font-family: Optima, sans-serif;
    font-size: 20px;
}

#simulatorTable {
    display: none;
}