<p id="ganttChartTitle" style="display: none;">Gannt Chart for: {{selectedAlgorithm}}</p>

<ul id="1Processes">
    <li class="b1"> </li>
</ul>

<ul id="2Processes">
    <li class="b1"> </li>
    <li class="b2"> </li>
</ul>

<ul id="3Processes">
    <li class="b1"> </li>
    <li class="b2"> </li>
    <li class="b3"> </li>
</ul>


<ul id="4Processes">
    <li class="b1"> </li>
    <li class="b2"> </li>
    <li class="b3"> </li>
    <li class="b4"> </li>
</ul>


<ul id="5Processes">
    <li class="b1"> </li>
    <li class="b2"> </li>
    <li class="b3"> </li>
    <li class="b4"> </li>
    <li class="b5"> </li>
</ul>

<ul id="6Processes">
    <li class="b1"> </li>
    <li class="b2"> </li>
    <li class="b3"> </li>
    <li class="b4"> </li>
    <li class="b5"> </li>
    <li class="b6"> </li>
</ul>

<ul id="7Processes">
    <li class="b1"> </li>
    <li class="b2"> </li>
    <li class="b3"> </li>
    <li class="b4"> </li>
    <li class="b5"> </li>
    <li class="b6"> </li>
    <li class="b7"> </li>
</ul>

<ul id="8Processes">
    <li class="b1"> </li>
    <li class="b2"> </li>
    <li class="b3"> </li>
    <li class="b4"> </li>
    <li class="b5"> </li>
    <li class="b6"> </li>
    <li class="b7"> </li>
    <li class="b8"> </li>
</ul>

<ul id="9Processes">
    <li class="b1"> </li>
    <li class="b2"> </li>
    <li class="b3"> </li>
    <li class="b4"> </li>
    <li class="b5"> </li>
    <li class="b6"> </li>
    <li class="b7"> </li>
    <li class="b8"> </li>
    <li class="b9"> </li>
</ul>

<ul id="10Processes">
    <li class="b1"> </li>
    <li class="b2"> </li>
    <li class="b3"> </li>
    <li class="b4"> </li>
    <li class="b5"> </li>
    <li class="b6"> </li>
    <li class="b7"> </li>
    <li class="b8"> </li>
    <li class="b9"> </li>
    <li class="b10"></li>
</ul>

<ul id="processList" class="processes">
</ul>

<p id="avgWaitTimes"></p>
<p id="avgTurnAround"></p>
<p>Scheduling Algorithm:
    <span style="padding-left: 50px">
        <select id="algSelect" [(ngModel)]="selectedAlgorithm" ng-model = "algorithm-type" (change)= "getSelectedAlgorithm(selectedAlgorithm)">
            <option *ngFor="let algorithm of algorithms"> {{algorithm.name}}</option>
        </select>
    </span>
</p>