ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    height: 50px;
    display: none;
    width: 400px;
    margin: 0;
}

li {
    display: table-cell;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
}

.processes {
    display: table;
    width: 400px;
    height: 25px;
    padding-left: 5px;
    margin: 0;
}

.processes li {
    font-size: 20px;
    display: table-cell;
    border: 1px solid black;
}

#algSelect {
    font-size: 15px;
}

#avgWaitTimes,
#avgTurnAround {
    text-align: center;
    font-weight: bold;
}

.b1,
.b3,
.b5,
.b7,
.b9 {
    background-color: lightblue;
}

.b2,
.b4,
.b6,
.b8,
.b10 {
    background-color: lightgrey;
}